<%- include('../layouts/header.ejs') %>
<div class="bolg_main_section">
     <div class="container">
         <div class="bolg_main_area">
       
         </div>  
         <div class="error-section">
             <div class="error-section-inner">
                 <div class="error-title">
                     <h1>404 page not found</h1>
                     <a href="/" class="btn btn-outline-info mb-3">Back Home</a>
                 </div>
                 <div class="error-content">
                     <p>The requested page could not be found or it is currently unavailable. Please <a href="index.html">click here</a> to go back to our home page or use the search form below.</p>
                 </div>
                 <div class="error-search">
                     <form action="">
                         <input type="text" placeholder="Type search text here.." name="search">
                         <button type="submit">Search</button>
                     </form>
                 </div>
             </div>
         </div>     
     </div>
 </div>

<%- include('../layouts/footer.ejs') %>