<%- include('../layouts/header.ejs') %>
<div class="bolg_main_section">
     <div class="container">
         <div class="bolg_main_area">
       
         </div>  
         <div class="error-section">
             <div class="error-section-inner">
                 <div class="error-content text-center">
                    <h4 class="text-bold text-danger">Internal Server Error</h4>
                 </div> 
             </div>
         </div>     
     </div>
 </div>

<%- include('../layouts/footer.ejs') %>