    <%- include('../layouts/header.ejs') %>


    <%- include('../layouts/navbar.ejs') %>
  
     
    <!-- search modal start -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <input type="text" class="search" name="search" placeholder="Search Here...">
                </form>
            </div>
        </div>
        </div>
    </div>
    <!-- search modal start -->
   
    
    <!-- slider section start here -->
    <div class="banner_section">
        <div class="container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-image">
                            <img src="/frontend/image/imgcat1.jpg" />
                            <div class="slide-content">
                                <a class="a1" href="#">Cat Lover</a>
                                <a class="a2" href="#">Fall In Love With Cat </a>
                                <p class="para-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper</p>
                                <a class="a3" href="#"> Learn More </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-image">
                            <img src="/frontend/image/sunset-hd-background-photos-12-scaled.jpg" />
                            <div class="slide-content">
                                <a class="a1" href="#">Journey</a>
                                <a class="a2" href="#">Fall In Love With Cat </a>
                                <p class="para-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper</p>
                                <a class="a3" href="#"> Learn More </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-image">
                            <img src="/frontend/image/img4cafe.jpg" />
                            <div class="slide-content">
                                <a class="a1" href="#">Lifestyle</a>
                                <a class="a2" href="#">Fall In Love With Cat </a>
                                <p class="para-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper</p>
                                <a class="a3" href="#"> Learn More </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-image">
                            <img src="/frontend/image/img5coffee.jpg" />
                            <div class="slide-content">
                                <a class="a1" href="#">Coffee Lover</a>
                                <a class="a2" href="#">Fall In Love With Cat </a>
                                <p class="para-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper</p>
                                <a class="a3" href="#"> Learn More </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next swiper-button"></div>
                    <div class="swiper-button-prev swiper-button"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider section ending here -->
    
    
    <!-- blog post grid start here -->
    <div class="blog__post__grid">
        <div class="container">
            <div class="blog__post__grid__inner">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-md-12">
                        <div id="content">
                            <!-- blog post start-->
                            <div class="blog__post__item">
                                <div class="row">
                                    <!-- First line of blog-post start -->
                                    <div class="col-md-6 blog-post">
                                        <div class="blog-post-wraper-top">
                                            <div class="blog-inspiration">
                                                <a href="#">Inspiration</a>
                                            </div>
                                            <div class="blog-title">
                                                <a href="#">Fall In Love With Cat</a>
                                            </div>
                                            <div class="blog-info">
                                                <ul>
                                                    <li><a href="#">By Westa</a></li>
                                                    <li class="display__will__hidden">-</li>
                                                    <li> Novermber 6 1018</li>
                                                    <li class="display__will__hidden">-</li>
                                                    <li><a href="#">1 comment</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-post-image">
                                            <a href="single_post.html"><img src="/frontend/image/img1.jpg" alt=""></a>
                                        </div>
                                        <div class="blog-post-wraper-bottom">
                                            <div class="blog-paragraph">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. Ammmit pretium convallis odio non varius.</p>
                                            </div>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                    <!-- First line of blog-post end -->
                                    <!-- second line of blog-post start -->
                                    <div class="col-md-6 blog-post">
                                        <div class="blog-post-wraper-top">
                                            <div class="blog-inspiration">
                                                <a href="#">Inspiration</a>
                                            </div>
                                            <div class="blog-title">
                                                <a href="#">Fall In Love With Cat</a>
                                            </div>
                                            <div class="blog-info">
                                                <ul>
                                                    <li><a href="#">By Westa</a></li>
                                                    <li class="display__will__hidden">-</li>
                                                    <li> Novermber 6 1018</li>
                                                    <li class="display__will__hidden">-</li>
                                                    <li><a href="#">0 comment</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="blog-post-image">
                                            <a href="single_post.html"><img src="/frontend/image/img2.jpg" alt=""></a>
                                        </div>
                                        <div class="blog-post-wraper-bottom">
                                            <div class="blog-paragraph">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis commodo ullamcorper. abir pretium convallis odio non varius.</p>
                                            </div>
                                            <a href="#">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <!-- blog post end --> 
                        </div>
                    </div>
                    <!-- sidebar  start-->
                    <div class="col-lg-3 col-md-4 col-md-12 ">
                        <div id="sidebarWrap">
                            <div id="sidebar">
                                <div class="sub-sidebar-one">
                                    <div class="slidebar-aboutme">
                                        <h3>About Me</h3>
                                    </div>
                                    <div class="slidebar-image">
                                        <a href="#"><img src="/frontend/image/img7.jpg" alt=""></a>
                                    </div>
                                    <div class="sidebar-para">
                                        <p>Duis pretium convallis odio non varius. Nulla quis lorem metus</p>
                                    </div>
                                    <div class="sidebar-readmore">
                                        <a href="#">Read More</a>
                                    </div>
                                </div>
                                <div class="sub-sidebar-two">
                                    <div class="sub-sidebar-follow">
                                        <p>follow me</p>
                                    </div>
                                    <div class="sub-sidebar-social">
                                        <ul>
                                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa-brands fa-youtube-square"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="sub-sidebar-subscribe">
                                    <!-- <div class="sidebar-follow-us">
                                        <p>Follow Us</p>
                                    </div> -->
                                    <div class="sidebar-newsletter">
                                        <p class="sletter">New Sletter</p>
                                        <p class="fill-mail">Fill Your E-mail below to subscribe to my newsletter</p>
                                        <form action="">
                                            <input type="email" placeholder="Email">
                                            <button class="form_btn">Subscribe</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="sidebar-popularpost-section">
                                    <div class="sidebar-popularpost-section-title">
                                        <p class="popular-post-title">Popular Post</p>
                                    </div>
                                    
                                    <div class="sidebar-post">
                                        <div class="sidebar-post-img-section">
                                            <img src="/frontend/image/sidebar_popularpostimg1.jpg" alt="">
                                        </div>
                                        <div class="sidebar-post-para-section">
                                            <p class="post-title">The Most Beautiful Green Field on Earth</p>
                                            <p class="post-details">Paul Newman September 5, 2019</p>
                                        </div>
                                    </div>
                                    <div class="sidebar-post">
                                        <div class="sidebar-post-img-section">
                                            <img src="/frontend/image/sidebar_popularpostimg2.jpg" alt="">
                                        </div>
                                        <div class="sidebar-post-para-section">
                                            <p class="post-title">The Most Beautiful Green Field on Earth</p>
                                            <p class="post-details">Paul Newman September 5, 2019</p>
                                        </div>
                                    </div>
                                    <div class="sidebar-post">
                                        <div class="sidebar-post-img-section">
                                            <img src="/frontend/image/sidebar_popularpostimg3.jpg" alt="">
                                        </div>
                                        <div class="sidebar-post-para-section">
                                            <p class="post-title">The Most Beautiful Green Field on Earth</p>
                                            <p class="post-details">Paul Newman September 5, 2019</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="sub-sidebar-banner">
                                    <img src="/frontend/image/sidebar_banner1.jpg" alt="">
                                </div>
                                
                                <div class="category-section">
                                    <div class="categorie-title">
                                        <p>CATEGORY</p>
                                    </div>
                                    <div class="category-list">
                                        <ul>
                                            <li><a href="#">Fashion5</a></li>
                                            <li><a href="#">Food6</a></li>
                                            <li><a href="#">Photography11</a></li>
                                            <li><a href="#">Technology6</a></li>
                                            <li><a href="#">Travel19</a></li>
                                            <li><a href="#">Blog60</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="recent-post-section">
                                    <p class="recent-post-title">RECENT POST</p>
                                    <div class="recent-post-desc">
                                        <img src="/frontend/image/recent-post1.jpg" alt="">
                                        <p class="trending">Trending</p>
                                        <p class="check-out">Check Out The Most Awesome VR
                                            Headset in 2020
                                        </p>
                                        <p class="jane">Jane Smith &nbsp; November 7,2019</p>
                                    </div>
                                    <div class="recent-post-desc">
                                        <img src="/frontend/image/recent-post2.jpg" alt="">
                                        <p class="trending">Trending</p>
                                        <p class="check-out">Check Out The Most Awesome VR
                                            Headset in 2020
                                        </p>
                                        <p class="jane">Jane Smith &nbsp; November 7,2019</p>
                                    </div>
                                    <div class="recent-post-desc">
                                        <img src="/frontend/image/recent-post3.jpg" alt="">
                                        <p class="trending">Trending</p>
                                        <p class="check-out">Check Out The Most Awesome VR
                                            Headset in 2020
                                        </p>
                                        <p class="jane">Jane Smith &nbsp; November 7,2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sidebar  end-->
                </div>
            </div>
        </div>
    </div>
    <!-- blog post grid end here -->


    <!-- pagination section start here -->
    <div class="pagination__section">
        <div class="container">
            <div class="pagination__section__inner">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- pagination section end here -->


    <!-- footer -->
    <div id="footer">
        <div class="main-footer-section">
            <div class="container foot">
                <div class="row">
                    <div class="col-md-4">
                            <div class="footer-page-content">
                                <div class="footer-title">
                                    <h3>Westa.</h3>
                                </div>
                                <div class="footer-para">
                                    <p>Suspendisse lobortis commodo ullamcorper. Duis pretium convallis odio non varius.</p>
                                </div>
                                <div class="footer-phone">
                                    <span>Phone: +8801978159172</span>
                                </div>
                                <div class="footer-email">
                                    <p>Email: <a href="#">opedia.technologies@gmail.com</a></p>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-3">
                            <div class="footer-page-content">
                                <div class="footer-title">
                                    <h3>Categories</h3>
                                </div>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="#">LifeStyle</a></li>
                                        <li><a href="#">Journey</a></li>
                                        <li><a href="#">INSPIRATION</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="col-md-5">
                            <div class="sub-footer-page-content">
                                <div class="footer-title">
                                    <h3>Recent Posts</h3>
                                </div>
                                <div class="sub-footer-list">
                                    <ul>
                                        <li><a href="#">Why Glass Had Been So Popular Till Now?</a></li>
                                        <li class="sps">November 16, 2018</li>
                                        <li><a href="#">Fall In Love With Cat</a></li>
                                        <li class="sps">November 14, 2014</li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                </div>
                <div class="footer-foot">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="column8">
                                <p>2018 © Westa. Personal Blog Template by Feelman.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="column4">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-youtube-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->


     <%- include('../layouts/footer.ejs') %>