<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="/dashboard/assets/images/favicon.ico">

        <link href="/dashboard/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
        
        <!-- App css -->
        <link href="/dashboard/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/dashboard/assets/css/jquery-ui.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" rel="stylesheet">
        <link href="/dashboard/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/dashboard/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/dashboard/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
        
    </head>

    <body>
      
     
    <%- include('./top-bar.ejs') %>
    <%- include('./left-sidebar.ejs') %>
        