
        <!-- Left Sidenav -->
        <div class="left-sidenav">
          <ul class="metismenu left-sidenav-menu">
              <li>
                  <a href="/dashboard"><i class="ti-bar-chart"></i><span>Dashboard</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
              </li>

              <li>
                  <a href="javascript: void(0);"><i class="ti-server"></i><span>Profile</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                  <ul class="nav-second-level" aria-expanded="false">
                      <li class="nav-item"><a class="nav-link" href="/profile/create-profile"><i class="ti-control-record"></i>Create Profile</a></li>
                      <li class="nav-item"><a class="nav-link" href="/profile/edit-profile"><i class="ti-control-record"></i>Edit Profile</a></li>
                  </ul>
              </li>                   

          </ul>
      </div>
      <!-- end left-sidenav-->