<script src="/frontend/js/jquery-3.6.0.min.js"></script>
<script src="/frontend/js/swiper-bundle.min.js"></script>
<script src="/frontend/js/fontawesome.min.js"></script>
<script src="/frontend/js/bootstrap.min.js"></script>
<script src="/frontend/js/wow.min.js" ></script>
<script src="/frontend/js/app.js"></script>
</body>
</html>