 
    <!-- header section start here-->
    <div id="header">
        <div class="container">
            <div id="fixedHeader">
                <div class="fixedHeader__top">
                    <div class="Header__top__icon">
                        <a href="#"><i class="fa-brands fa-facebook-f" ></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                    <div class="Header__top__logo">
                        <a href="/">Westa.</a>
                        <p>Personal Blog Templete</p>
                    </div>
                    <div class="Header__top__searchbar">
                        <a data-bs-toggle="modal" href="#exampleModalToggle"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <i class="fa-solid fa-align-justify"></i>
                    </div>
                </div>
                <div class="fixedHeader__bottom">
                    <ul>
                        <li>
                            <a  class="active" href="/">Home</a> 
                        </li>
                        <li><a href="#">Category</a>
                            <ul>
                                <li><a href="category_list.html">Categorie List</a></li>
                            </ul>
                        </li> 
                        <li><a href="about.html">About Me</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        
                        <%  if( isLoggedIn ) { %>

                            <li><a href="/auth/logout">Logout</a></li>
                            
                         <% } else { %>
                           
                            <li><a href="/auth/signup">Sign Up</a></li>
                            <li><a href="/auth/login"> Sign In</a></li>
                        <% } %>

                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- header section end here-->


    <!-- mobile menu start here -->
    <div id="mobile__header">
        <div class="container">
            <div id="mobile__fixedHeader">
                <div class="mobile__fixedHeader__top">
                    <div class="mobile__Header__top__searchbar">
                        <a data-bs-toggle="modal" href="#exampleModalToggle"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <div class="mobile__Header__top__logo">
                            <a href="home.html">Westa.</a>
                            <p>Personal Blog Templete</p>
                        </div>
                        <a href="#"><i class="fa-solid fa-align-justify menu__bar"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile__menu">
        <ul>
            <li>
                <div class="down__arrow">
                    <a class="active drop__home" href="#">HOME</a>
                    <i class="fa-solid fa-angle-down home"></i>
                </div>
                <ul class="home__ul">
                    <li><a href="home.html">Home Fullwidth</a></li>
                    <li><a href="#">Home Grid</a></li>
                    <li><a href="error.html">404 Page</a></li>
                    <li><a href="single_post.html">Single Post</a></li>
                </ul>
            </li>
            <li>
                <div class="down__arrow">
                    <a class="active drop__lifestyle" href="#">LIFESTYLE</a>
                    <i class="fa-solid fa-angle-down lifestyle"></i>
                </div>
                <ul class="lifestyle__ul">
                    <li><a href="category_list.html">Categorie List</a></li>
                </ul>
            </li>
            <li><a href="journey.html">JOURNEY</a></li>
            <li><a href="inspiration.html">INSPIRATION</a></li>
            <li><a href="about.html">ABOUT ME</a></li>
            <li><a href="contact.html"> CONTACT</a></li>
        </ul>
    </div>
    <!-- mobile menu end here -->